body {
    margin: 0;
    font-family: Arial;
    background: #0f172a;
    color: white;
}

nav {
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    background: #1e293b;
}

nav a {
    color: white;
    margin-left: 15px;
    text-decoration: none;
}

.hero {
    text-align: center;
    margin-top: 100px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    background: #38bdf8;
    color: black;
    text-decoration: none;
    border-radius: 5px;
}

section {
    padding: 40px;
}

.card {
    background: #1e293b;
    padding: 20px;
    margin-top: 15px;
    border-radius: 10px;
}

.card a {
    display: inline-block;
    margin-top: 10px;
    color: #38bdf8;
    text-decoration: none;
}